/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* Khung chính */
.wrapper {
    width: 80%;
    margin: 80px auto;
    padding: 60px;
    background: #fafafa;
    border-left: 5px solid #8fd3f4;
    border-right: 5px solid #8fd3f4;
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
}

/* ===== FLEXBOX LAYOUT ===== */
.content {
    display: flex;
    gap: 60px;
}

/* Card bên trái */
.card {
    width: 35%;
    background: white;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 20px;
    font-weight: 500;
}

.card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.author span {
    display: block;
    font-size: 12px;
    color: #3b82f6;
}

/* Nội dung bên phải */
.text {
    width: 65%;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.text p {
    margin-bottom: 20px;
}

.text .bold {
    font-weight: bold;
}
